<template name="doma">
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>МАКЕДОНСКИ ЦЕНТАР ЗА ЕВРОПСКО ОБРАЗОВАНИЕ</h2>
        <p>
          Македонскиот центар за европско образование го поддржува процесот на пристапување на Република Македонија во Европската унија преку истражувања базирани на податоци, професионални обуки, консултантски услуги, регионална соработка, лобирање за промени и развој на јавни политики. Македонскиот центар за европско образование е think-tank организација која се занимава со прашањата поврзани со ЕУ интеграцијата на Македонија и одблиску го следи процесот на пристапување на Република Македонија во Европската унија.
        </p>
        <h2>Wide range of services</h2>
        <p>
          Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam condimentum laoreet sagittis. Duis quis ullamcorper leo. Suspendisse potenti.
        </p>
      </div>
      <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-16by9 video-wrapper">
          <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/47000322?title=0&amp;byline=0&amp;portrait=0" max-width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
</template>